
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

li{
    list-style: none;
}




.home-container{
    background-color:#222;
    color:#fff;

    /* padding:20px 30px; */
    height:100vh;
    width:100vw;

    display:grid;
    grid-template-columns: 1fr repeat(5,1fr);
}


.sidebar{
    border-right:0.5px solid #ffffff;
    margin-right:3.5em;
}

.bottom-line{
    border-bottom:0.5px solid #ffffff;
    margin-bottom:20px;
}


.defaultContainer{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content{
    grid-column: 2/7;
    color:#fff;
    flex-direction:column;
}






/* utilities */

.text{
    font-size:1.1rem;
    color:#ffffff;
}

h1{
    font-size:3.2rem;
    font-weight:550;
}

h2{
    font-size:2.8rem;
    font-weight:550;
}

h3{
    font-size:2.5rem;
    font-weight:520;
}

h4{
    font-size:1.8;
}

.button{
    border:1px solid #fff;
    padding:8px 18px;
    border-radius:8px;
    color:#fff;
    background:transparent;

    margin-bottom:10px;
}